:root {
  font-size: 16px;
  --main-light-color: #f9f3eb;
  --secondary-dark-color: #000000;
}

@font-face {
  font-family: "Pricedown";
  src: url("../assets/fonts/pricedown-bold.otf");
}

@font-face {
  font-family: "PricedownRegular";
  src: url("../assets/fonts/pricedown.otf");
}

@font-face {
  font-family: "Halo";
  src: url("../assets/fonts/Halo.ttf");
}
